$primary-color: #fc556f;
$secondary-color: #fd9c84;
$gradient: linear-gradient(to right, $primary-color, $secondary-color);

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin flexbox(
  $align: flex-start,
  $justify: flex-start,
  $flex-direction: row,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: nowrap;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  padding: 2rem;
  background-color: #f3f3f3;
}
.post {
  padding: 2rem;
  border-radius: 2rem;
  background-color: white;
  @include flexbox(stretch);
  &__left {
    width: calc(50% - 1rem);
  }
  &__right {
    width: calc(50% - 1rem);
  }
  &__media {
    height: 40rem;
    position: relative;
  }
  &__image {
    @include size(100%);
    object-fit: cover;
    border-radius: 1rem;
  }
  &__category {
    color: white;
    font-size: 1.2rem;
    display: inline-block;
    padding: 1rem;
    border-radius: 2rem;
    background-image: $gradient;
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 2;
  }
  &__icon {
    @include size(5rem);
    @include flexbox(center, center);
    background-image: $gradient;
    color: white;
    border-radius: 5rem;
    position: absolute;
    bottom: 0;
    right: 2rem;
    z-index: 2;
    transform: translateY(-50%);
  }
  &-author {
    @include flexbox(center);
    color: #333;
    margin-top: 2rem;
    &__avatar {
      @include size(4rem);
      object-fit: cover;
      border-radius: 4rem;
      margin-right: 1rem;
    }
  }
}
